<div class="frist">
  <section>
    <div class="example-button-row">
      <button mat-button routerLink="/create" color="primary">CREATE</button>
    </div>
  </section>

  <section>
    <div class="example-button-row">
      <button mat-button routerLink="/read" color="primary">READ</button>
    </div>
  </section>

  <section>
    <div class="example-button-row">
      <button mat-button routerLink="/delete" color="primary">DELETE</button>
    </div>
  </section>
</div>
<router-outlet></router-outlet>
